<!DOCTYPE html>
<html>
<%= render 'layouts/application/header' %>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <%= render 'layouts/application/application_top_nav' %>
  </div>
</div>

<%#= yield %>
<!--</body>-->

</body>
<%= javascript_tag 'enablePJAX()' %>
</html>

