<!DOCTYPE html>
<html>
<% @page_title = 'Privacy Policy' %>
<%= render 'layouts/home/header' %>

<body>
  <div class="loader"></div>
  <div id="myDiv">
    <%= render 'layouts/home/privacy' %>
    <%= render 'layouts/home/footer' %>
  </div>
</body>
<%= javascript_tag 'enablePJAX()' %>

</html>