<!DOCTYPE html>
<html>
<% @page_title = 'Terms' %>
<%= render 'layouts/home/header' %>

<body>
  <div class="loader"></div>
  <div id="myDiv">
    <%= render 'layouts/home/terms' %>
    <%= render 'layouts/home/footer' %>
  </div>
</body>
<%= javascript_tag 'enablePJAX()' %>

</html>