

<div class="x_panel">
            <div class="x_title">
              <h3>Conferences that you are attending</h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <% if @conferences_attendee %>
                  <p> You are an attendee</p>
              <% end %>
                  <%if @conferences_organizer  %>
                    <p> you are an organizer</p>
              <% end %>


            </div>
</div>

<!-- <div class="text-center"> <%= button_to "Conferences" , conferences_path(), method: :get %> </div> -->

<script>
    $('#getResult').click(function () {
        jQuery.support.cors = true;

        var data = {
            user_dir: '<%= current_user.get_pdf_text_path %>',
            conference_dir: '<%= "#{Rails.root}/public/conference_papers" %>',
            k: 3
        };

        $.ajax({
            type: 'POST',
            url: '<%= "#{PairConConfig.recommendation_system_domain}/similiarity/v1/compare" %>',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                var trHTML = '';
                $.each(data, function (i) {
                    trHTML += '<tr><td>' + data[i].conference_paper + '</td><td>' + data[i].score + '</td><td>' + data[i].user_paper + '</td></tr>';
                });

                $('#result').append(trHTML);
            },

            error: function (msg) {
                alert(msg.responseText);
            }
        });
    })
    ;
</script>
