 <div class="x_panel">
      <div class="x_title">
        <h3>Notifications</h3>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%#= render 'layouts/notifications/_notification_listing' %>

      </div>
 </div>