<section>

  <!-- Start to do list -->
    <div class="x_panel">
      <div class="x_title">
        <h2>Notifications</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="">
          <ul class="to_do">
            <li>
              <p>
                <input type="checkbox" class="flat"> Schedule meeting with new client </p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Create email address for new intern</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Have IT fix the network printer</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Copy backups to offsite location</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Create email address for new intern</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Have IT fix the network printer</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Copy backups to offsite location</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- End to do list -->

</section>