<section>
  <div class="wrapper">
    <div class="container">
      <div class="conf-box">
        <div style="text-align:center">Conferences You might be interested in </div>
      </div>
    </div>
  </div>
  </div>
</section>