<div class="">
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h3>Upcoming Conferences</h3>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives'
        })

    });

</script>

