
      <div class="x_panel">
        <div class="x_title">
          <h3>Upcoming Conferences
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
          </h3>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="user_scheduler"></div>
        </div>
      </div>


<%= javascript_tag 'initializeScheduleUserEvents()' %>

