<% page_title('Dashboard') %>

<%= render '/home/conferences_list' %>



<!--
<button class="btn" id="getResult">Get Recommendations</button>
-->

<!--
<table id="result" border='1'>
  <tr>
    <th>Conference Paper</th>
    <th>Score</th>
    <th>User Paper</th>
  </tr>
</table> -->


