<!DOCTYPE html>
<html>
<% @page_title = 'Privacy Policy' %>
<%= render 'layouts/home/header' %>

<body>
<div class="loader"></div>
<div class="row">
  <div class="top-banner navy-background">  
    <div class="col-md-12 col-sm-12 col-xs-12">
    </div>
  </div>
</div>
<div id="myDiv">
  <h2 class=""><strong>Privacy </strong>Policy</h2>
  <div>
    <div class="enable" style="margin-top:50px;"></div>
    <p align="justify">We at PairCon understand the different concerns that arise when it comes to data being shared
      across different platforms and especially when people use services provided by
      <a title="PairCon" href="https://www.paircon.com" target="_blank">PairCon</a>. For us privacy of our users is of
      dire importance and our Privacy Policy makes it clear how that information is handled at our end.</p>
    <p align="justify"> We strongly suggest our users to go through the policy prior to using PairCon in order to
      understand how PairCon operates and how the information provided by individuals is handled by PairCon. By
      accessing or using PairCon, you agree to this Policy Privacy which may change from time to time. Your continued
      use of the Website after we make changes is deemed to be acceptance of those changes, so please check the policy
      periodically for updates.</p>
    <div>
      <hr>
      <h3>INFORMATION WE COLLECT FROM YOU</h3>
      <h4><strong>Customer-Provided Information</strong></h4>
      <p align="justify">When you use PairCon, you will be requested to provide certain information. We will retain your
        email identification provided at the time of sign-up, email messages we receive from you and the responses given
        to you by PairCon. Your email address will be exclusively used to send invitation to someone who you recommend
        PairCon to. </p>
      <h4><strong>Cookies Information</strong></h4>
      <p align="justify">Upon accessing PairCon, we send multiple cookies in order to identify your browser. There are
        specifically two different types of cookies that we make use of when you access PairCon. Session cookies – These
        cookies are deleted upon closing the browser and only used to track whether you are logged in or logged off from
        the system and persistent cookies – Cookies that we use for subsequent visits. If you reject cookies from
        PairCon, there is a high possibility that majority of functionalities from PairCon will stop working or will
        fail to work properly.</p>
      <h4><strong>Log File Information</strong></h4>
      <p align="justify">Upon accessing PairCon, we log information which includes information such as IP address and
        browser type. </p>
    </div>
    <div>
      <hr>
      <h3>HOW INFORMATION IS SHARED</h3>
      <h4><strong>Personally Identifiable Information</strong></h4>
      <p align="justify">Most of personal information that is provided by users upon accessing and registering with
        PairCon, is converted into unidentifiable information. However, we may disclose any such information without
        restriction. Disclosing such information includes sharing it with our subsidiaries and affiliates and service
        providers and other third parties who need to know such information to support our permitted uses of personal
        information. This information can also be disclosed in the case of a buyer or other successor of PairCon in the
        event of a sale of equity or assets, reorganization, merger or a similar corporate transaction.</p>
      <p align="justify">In the presence of a legal process, law or court order, we may also disclose your personal
        information in order to comply with it. In addition, this also includes response to a request made directly by
        the government, along with any situation that we feel under which disclosure is necessary or appropriate to
        protect the rights, property, or safety of our customers or others. Disclosure of information includes
        exchanging and sharing the information with different organizations for the purposes of fraud protection and
        credit risk reduction. Apart from the cases stated above, no data is disclosed or sold to any third-party.</p>
      <h4><strong>Non-Personally Identifiable Information</strong></h4>
      <p align="justify">When registering with PairCon, you agree and allow us to share non-personally identifiable
        information which includes exit pages, URL’s, number of clicks, platform types and similar information with
        third parties in order to enable them and eventually us to understand how our users use our services. </p>
    </div>
    <div>
      <hr>
      <h3>HOW COLLECTED INFORMATION IS USED</h3>
      <h4><strong>Automatically Recorded Information</strong></h4>
      <p align="justify">PairCon makes the use of automatically recorded information only to enhance user experience and
        give them an awe-inspiring experience. Cookies and log files are used to:</p>
      <ul>
        <li>Keep track of the efficiency of our service.</li>
        <li>To prevent you from re-entering information upon ever log in.</li>
        <li>Analyze traffic on PairCon in order to improve our system.</li>
        <li>Identify and resolve technical problems reported by customers.</li>
      </ul>
      <h4><strong>User-Provided Information</strong></h4>
      <p align="justify">As stated above, most of the personal information that can be used to disclose our user’s
        identity, is converted into an unidentifiable form. This allows us to anonymize the data to some extent. We may
        use your personal information to carry out our obligations and enforce our rights arising from any contracts
        entered into between you and us, including for billing and collection.</p>
      <p align="justify">Providing us your email address upon registering with PairCon and selecting subscribe to email
        updates, you hereby allow us to send notices at your email address directly. This may include latest updates
        about PairCon or any offers that we are providing our users with. You can choose to not receive any of the
        updates at the time of registering your account or changing it in the settings of your account. By
        unsubscribing, you are prevented from being sent email messages related to special offers and updates to the
        service.</p>
      <p align="justify">All of the information that is stored within our database is kept within PairCon till the time
        the account remains active. Upon deleting the account, all the information is deleted from our system and all
        the files that are shared across different users are no longer available to the individuals. In some situations,
        we may retain and use your information as necessary to comply with our legal obligations, resolve disputes, and
        enforce our agreements. Consistent with these requirements, we will try to delete your information as quickly as
        possible. Please note, however, that there might be latency in deleting information from our servers and
        backed-up versions might exist after deletion.</p>
    </div>
    <div>
      <hr>
      <h3>HOW USER INFORMATION IS PROTECTED</h3>
      <p align="justify">We at PairCon try to insure security and reliability of your information but unfortunately, the
        transmission of information over the Internet is not completely secure. This creates possibility of risk when
        personal information is transmitted to and from PairCon. Even though we have implemented strong security
        measures, there is no guarantee that the data transmission is fully secure. Hence, transmission of personal
        information is at your own risk. We are not responsible for circumvention of any privacy settings or security
        measures contained on PairCon, and we cannot ensure the information transferred to us is not accessed, changed,
        disclosed or deleted in case of a security breach of any of our technical, managerial or physical safeguards. We
        will try our best to notify you in the manner required by applicable law if your personal information is
        compromised by a security breach.</p>
    </div>
    <div>
      <hr>
      <h3>SOCIAL MEDIA AND WIDGETS</h3>
      <p align="justify">Upon logging into the PairCon through Facebook or other social media websites that we provide
        our users to link up with, information is transferred between the social media website and PairCon. We will
        restrict access to any such transferred information about you to the extent required by the policies of any such
        social media site, but all transferred information will otherwise be subject to the terms of this policy.</p>
      <p align="justify">Any information that is collected by social media widgets or social media websites is done in
        accordance to the third party privacy policies and we take no responsibility of it whatsoever.</p>
    </div>
    <div>
      <hr>
      <h3>WEBSITES THAT ARE LINKED WITH PairCon</h3>
      <p align="justify">It is highly recommended that you read the privacy policy of third party websites that you
        intend to connect with using PairCon. Our privacy policy does not apply on the information that is disclosed on
        the websites that are linked to PairCon. The actions these websites are subject to that their own policies and
        terms.</p>
    </div>
    <div>
      <hr>
      <h3>CHILDREN’S PRIVACY</h3>
      <p align="justify">Our service is open to users of all ages that includes children. However, for children that are
        below the age of 13 are recommended to register and use our services under parental guidance. </p>
    </div>
    <div>
      <hr>
      <h3>MODIFYING OUR PRIVACY POLICY</h3>
      <p align="justify">Our privacy policy is subject to changes over time given the evolution of PairCon. We will
        surely make our best to inform our users in case of changes in the privacy policy. If we make material changes
        to how we treat our users’ personal information, we will notify you by e-mail to the primary e-mail address
        specified in your account. You are responsible for ensuring we have an up-to-date, active and deliverable e-mail
        address for you, and for periodically visiting our Website and this Privacy Policy to check for any changes. For
        any questions regarding the Privacy Policy, please contact us at
        <a title="Contact Us" href="mailto:support@paircon.com">support@paircon.com</a>.</p>
    </div>
    <div class="clear"></div>    
    <div class="footer-text text-center">
      <%= button_to 'Home', root_path(anchor: 'main-header'), :'data-no-pjax' => '' %>
    </div>
  </div>
  <%= render 'layouts/home/footer' %>
</div>
</body>
<%= javascript_tag 'enablePJAX()' %>

</html>