<!DOCTYPE html>
<html>
<% @page_title = 'Terms of Use' %>
<%= render 'layouts/home/header' %>

<body>
<div class="loader"></div>
<div id="myDiv">
    <h2>Terms of <strong>Use</strong></h2>
    <h3>INTRODUCTION</h3>
    <p align="justify">PairCon is a new cloud storage merging platform that allows it’s users to combine different
      cloud storage services into one enabling its users to enhance storage space. It allows you to carry out the same
      tasks that other cloud storage services allow, e.g. uploading, downloading, moving, renaming etc. and in addition
      to that allows you to share files stored on different cloud storage drives with other users on
      <a title="PairCon" href="https://www.paircon.com/" target="_blank">PairCon </a>through Tags.</p>
    <hr>
    <div>
      <h3>LEGAL AGREEMENT</h3>
      <p align="justify">We strongly suggest to read these Terms of Use and Privacy Policy associated with PairCon as
        these two govern the use of our services and any other thing provided by PairCon. By registering and using
        our service, you hereby are bound to comply with our Terms of Use and agree with our Privacy Policy. Certain
        parts of PairCon requires its users to agree to additional terms or guidelines that the users will be
        notified with. In case you do not agree with the Term of Use or our Privacy Policy listed, you may not use the
        service. In the Terms of Use “you” shall mean either you as an individual or the entity on whose behalf you are
        accepting these Terms of Use and who is afforded all rights and bound by all terms under the Agreement.</p>
      <hr>
    </div>
    <div>
      <h3>PRIVACY POLICY</h3>
      <p align="justify">By using and registering with us, you hereby allow the collection and use of information which
        is in accordance with our <a title="Privacy Policy" href="<%= privacy_policy_home_index_url %>" target="_blank">Privacy Policy</a>.
      </p>
      <hr>
    </div>
    <div>
      <h3>ACCOUNT AND MEMBER INFORMATION</h3>
      <p align="justify">Upon registering with us, you hereby accept that you are of legal age to form a binding
        contract. In the case of a false date of birth provided while registering with the service, you will hereby be
        bound to follow and abide with our Terms of Use and Privacy Policy.</p>
      <hr>
    </div>
    <div>
      <h3>USER INFORMATION AND DATA</h3>
      <p align="justify">The data that is being shared across different cloud platforms using PairCon may include
        information, data, text, photographs, graphics, video, messages, tags, or other materials (“Content”) from many
        people and entities, and such Content is the sole responsibility of the person or entity that provided it. By
        agreeing with the Terms of Use you agree to be held responsible for any content that you own and is being
        transmitted or available through the service (including third party service integrations that you enable through
        the Service), and for the consequences of your actions including any loss or damage which PairCon may suffer
        because of it.</p>
      <p align="justify">All the Content that is being shared and being used through PairCon is solely the property
        of its users and by registering with the service, you agree to allow PairCon to use, distribute, syndicate,
        reproduce, modify, adapt, publicly perform and publicly display such Content solely for the purpose of providing
        you and it’s users good quality service. However, you agree and understand that PairCon may not be able to
        and has no obligation to you to restrict any use of your Content by any other person, including other users, and
        that PairCon has no control of your Content provided by or to the third party services that you authorize or
        enable.</p>
      <hr>
    </div>
    <div>
      <h3>CODE OF CONDUCT</h3>
      <p align="justify">By agreeing with our Terms of Use, you agree to not use this service that violates the Code of
        Conduct of PairCon. You agree to not use the Service, which if you may do can allow PairCon to take any
        reasonable action against you, which includes banning you from using the service as well, in any of the
        following way:</p>
      <ul>
        <li>An action that can harm a minor in any way.</li>
        <li>Transmit or make available any material that may be deemed malicious and may contain software viruses or any
          material, files or programs designed to interrupt, destroy or limit the functionality of any computer software
          or hardware or telecommunications equipment.
        </li>
        <li>Impersonation of any person or entity, or misrepresent your affiliation with a person or entity.</li>
        <li>Interfere with or disrupt the Service or servers or networks connected to the Service.</li>
        <li>Engage in any unsolicited or unauthorized advertising, “spamming” or “chain letters,” or any other form of
          solicitation.
        </li>
        <li>Harass or stalk another user at PairCon.</li>
        <li>You do not have a right to make available under any law or under contractual or fiduciary relationships
          (such as inside information, proprietary and confidential information protected under nondisclosure
          agreements)
        </li>
        <li>Intentionally or unintentionally violate any applicable local, state, national or international law; You
          agree to not upload, post, or transmit or make available any Content that
        </li>
        <li>Is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, obscene, libelous, invasive of
          anyone else’s privacy, hateful, or racially, ethnically or otherwise objectionable
        </li>
        <li>Infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party. You
          acknowledge that PairCon may or may not pre-screen Content. We have the right, but not the obligation, in
          our sole discretion to pre-screen, refuse, or remove any Content on the Service. You understand that you may
          be exposed to Content on the Service that is offensive, indecent or objectionable. You will not access any of
          the Services
          <ul>
            <li>By any means other than through the interface that is provided</li>
            <li>Through any automated means (including use of bots, scripts or web crawlers).</li>
          </ul>
        </li>
      </ul>
      <p align="justify">You will not override or circumvent any security components or violate any usage rules relating
        to the protection of materials or technology on the Service.</p>
      <hr>
    </div>
    <div>
      <h3>FEEDBACK</h3>
      <p>By providing feedback ideas, ratings, reviews, or suggestions (“Feedback”) to PairCon, you solely
        acknowledge and agree that:</p>
      <ul>
        <li>Your Feedback automatically becomes the property of PairCon without any obligation us on you</li>
        <li>PairCon may have something similar to the Feedback already under consideration or in development</li>
        <li>You are not entitled to any compensation or reimbursement of any kind from PairCon.</li>
        <li>Your Feedback does not contain confidential or proprietary information of you or any third party</li>
        <li>We may use or disclose such Feedback for any purpose, in any way, in any media worldwide</li>
      </ul>
      <hr>
    </div>
    <div>
      <h3>PROPRIETARY RIGHTS</h3>
    </div>
    <p align="justify">Every Content, logo, look and feel, designs etc. that is available on the application / products
      of PairCon are intellectual property of PairCon and are protected by copyrights, patents and trademarks or
      other proprietary rights and laws. You are not authorized to use, copy, modify, create a derivative work from,
      reverse engineer, sell, assign, sublicense or otherwise transfer any right, of any part of the Service without the
      prior written consent of the respective owner. Unless otherwise agreed to in a separate agreement between
      PairCon and you, with respect to any software that we provide to you, PairCon grants you a personal,
      worldwide, royalty-free, non-assignable and non-exclusive license to use such software provided, for the sole
      purpose of enabling you to use the Service in the manner permitted by these Terms of Use. You may not (and you may
      not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise
      attempt to extract the source code of the software or any part thereof. You may not assign or grant a sublicense
      of your rights to use the Software, grant a security interest in or over your rights to use the Software, or
      otherwise transfer any part of your rights to use the Software.</p>
    <hr>

  <%= render 'layouts/home/footer' %>
</div>
</body>
<%= javascript_tag 'enablePJAX()' %>

</html>