<% user = Hashie::Mash.new(YAML::load(@activity.parameters[:user])) %>

<li class="item-success border-left-blue notification-box">
  <div class="notification-time label label-success pull-right"><%= notification_created_time %></div>
  <div class="row row-vertical-align-notification">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <span class="desc desc-nopadding notification-text">
        <%= image_tag 'favicon.ico', class: 'paircon_notification_logo' %>
        <!--<i class="fa fa-cloud icon-notification paircon-logo" style="margin-top: -5px !important; font-size: 18px; color: #258D94 !important"></i>-->
        <span>&nbsp;&nbsp;Your publication profile refresh was successfully completed </span>
      </span>
    </div>
  </div>
</li>
