<div class ="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <!--<h2>Conference Name<small>Organization</small></h2>-->
            <div class="jumbotron text-center" id = "conf-title">
              <h1>Conference Name</h1>
              <p>Convention Center, City, State</p>
              <p>January 1-3, 2018</p>
            </div>
            <!--<div class="clearfix"></div>-->
        </div>
        <div class="x_content">


          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet rutrum faucibus dolor auctor.Aenean lacinia bibendum nulla sed consectetur.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.
                Donec ullamcorper nulla non metus auctor fringilla. Raw denim you probably haven't heard of them jean
                shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor,
                williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                sweater eu banh mi, qui irure terr.
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center top-buffer">
              <button type="button" class="btn btn-primary">Conference Website</button>
            </div>
          </div>
          <div class="row top-buffer">
            <div class = "col-md-3">
              <div class="thumbnail" id="map-img">
                <div class="image view view-first">
                  <img src="<%= asset_path 'floorplan_map.jpg' %>" alt="image" id ="conf-map">
                  <div class="mask">
                    <p> Conference Map </p>
                    <div class="tools tools-bottom">
                      <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <p>Conference Map</p>
                </div>
              </div>
            </div>


          </div>







          <!--<div class="col-md-55">-->
            <!--<div class="thumbnail">-->
              <!--<div class="image view view-first">-->
                <!--<img style="width: 100%; display: block;" src="images/media.jpg" alt="image">-->
                <!--<div class="mask">-->
                  <!--<p>Your Text</p>-->
                  <!--<div class="tools tools-bottom">-->
                    <!--<a href="#"><i class="fa fa-link"></i></a>-->
                    <!--<a href="#"><i class="fa fa-pencil"></i></a>-->
                    <!--<a href="#"><i class="fa fa-times"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="caption">-->
                <!--<p>Conference Map</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        </div>
    </div>
</div>
</div>
