<div style="margin-top: 30px; font-style: italic; text-align: center;">
  <div><img style="opacity: 0.3; height: 50px;" src="<%= asset_path 'sad.png' %>"/></div>
  <div style="margin-top: 30px;">
    <%= body %>
  </div>
</div>
