<%= header_title @title %>
<% page_title @title %>

<%= render 'conferences/panels/conf_info' %>
<div class ="row">
  <%= render 'conferences/panels/organizer_notif' %>
</div>

<div id="page-heading">
  <h1 class="font-light"><%= @title %></h1>
  <hr />
</div>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline">
  <thead>
  <tr role="row">
    <th>First name</th>
    <th>Last name</th>
    <th>Position</th>
    <th>Office</th>
    <th>Age</th>
    <th>Start date</th>
    <th>Salary</th>
    <th>Salary</th>
    <th>Salary</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Airi</td>
    <td>Satou</td>
    <td>Accountant</td>
    <td>Tokyo</td>
    <td>33</td>
    <td>2008/11/28</td>
    <td>$162,700</td>
    <td>5407</td>
    <td>a.satou@datatables.net</td>
  </tr>
  <tr>
    <td>Angelica</td>
    <td>Ramos</td>
    <td>Chief Executive Officer (CEO)</td>
    <td>London</td>
    <td>47</td>
    <td>2009/10/09</td>
    <td>$1,200,000</td>
    <td>5797</td>
    <td>a.ramos@datatables.net</td>
  </tr>
  <tr>
    <td>Ashton</td>
    <td>Cox</td>
    <td>Junior Technical Author</td>
    <td>San Francisco</td>
    <td>66</td>
    <td>2009/01/12</td>
    <td>$86,000</td>
    <td>1562</td>
    <td>a.cox@datatables.net</td>
  </tr>
  <tr>
    <td>Bradley</td>
    <td>Greer</td>
    <td>Software Engineer</td>
    <td>London</td>
    <td>41</td>
    <td>2012/10/13</td>
    <td>$132,000</td>
    <td>2558</td>
    <td>b.greer@datatables.net</td>
  </tr>
  <tr role="row" class="odd">
    <td>Brenden</td>
    <td>Wagner</td>
    <td>Software Engineer</td>
    <td>San Francisco</td>
    <td>28</td>
    <td>2011/06/07</td>
    <td>$206,850</td>
    <td>1314</td>
    <td>b.wagner@datatables.net</td>
  </tr>
  <tr>
    <td>Brielle</td>
    <td>Williamson</td>
    <td>Integration Specialist</td>
    <td>New York</td>
    <td>61</td>
    <td>2012/12/02</td>
    <td>$372,000</td>
    <td>4804</td>
    <td>b.williamson@datatables.net</td>
  </tr>
  <tr>
    <td>Bruno</td>
    <td>Nash</td>
    <td>Software Engineer</td>
    <td>London</td>
    <td>38</td>
    <td>2011/05/03</td>
    <td>$163,500</td>
    <td>6222</td>
    <td>b.nash@datatables.net</td>
  </tr>
  <tr>
    <td>Caesar</td>
    <td>Vance</td>
    <td>Pre-Sales Support</td>
    <td>New York</td>
    <td>21</td>
    <td>2011/12/12</td>
    <td>$106,450</td>
    <td>8330</td>
    <td>c.vance@datatables.net</td>
  </tr>
  <tr>
    <td>Cara</td>
    <td>Stevens</td>
    <td>Sales Assistant</td>
    <td>New York</td>
    <td>46</td>
    <td>2011/12/06</td>
    <td>$145,600</td>
    <td>3990</td>
    <td>c.stevens@datatables.net</td>
  </tr>
  <tr>
    <td>Cedric</td>
    <td>Kelly</td>
    <td>Senior Javascript Developer</td>
    <td>Edinburgh</td>
    <td>22</td>
    <td>2012/03/29</td>
    <td>$433,060</td>
    <td>6224</td>
    <td>c.kelly@datatables.net</td>
  </tr>
  </tbody>
</table>

<Script>
    $('#datatable-responsive').DataTable();
</Script>