<%= header_title 'Create Conference' %>

<%= form_for Conference.new, url: conferences_path(), method: :posts do |f| %>
<div class="modal-header">
  <h1 class="modal-title" id="myModalLabel">
    <i class="fa fa-users" style="margin-right: 5px;" id="drive-header-icon"></i>
    Create Conference
  </h1>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h4 class="font-light" align="center">You are about to create a new Conference page? Are you sure you want to continue?
      </h4>
    </div>
  </div>
</div>

<div class="modal-footer" style="margin-top:-5px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="js-switch-box">
        <input type="checkbox" id="introjs_checkbox" class="js-switch" value="checked" checked /><span class="js-switch-text">Show the tutorial</span>
      </div>
      <div>
        <% if request.xhr? %>
            <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
        <% end %>
        <button class="btn btn-paircon" id="continue_button">Continue</button>
        <%= f.submit 'Continue', :class => 'form-control', id: 'form_submit', :class => 'hide btn btn-paircon' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
    enableSwitchery();
    $('#continue_button').click(function( ){
        var x = document.getElementById("introjs_checkbox").checked;
        if (x) {
          Cookies.set("introjs_checked", "true");
        } else {
          Cookies.set("introjs_checked", "false");
        }
       $('#form_submit').click();
    });
</script>




