<%= header_title 'Unauthorized Access' %>

<div class="container body">
  <div class="main_container">
    <!-- page content -->
    <div class="col-md-12">
      <div class="col-middle">
        <div class="text-center text-center">
          <h1 class="error-number">403</h1>
          <h2>Access denied</h2>
          <p>Oops! You are not allowed to access this this resource. <a href="<%= PairConConfig::url[:support] %>">Report this?</a>
          </p>
          <div class="mid_center">
            <h3>Search</h3>
            <%= render 'layouts/application/search' %>
          </div>
          <%= image_tag 'sad.png', style: 'margin-top: 30px' %>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>