"use strict";

function initializePaperAdd() {
    $('#modal').find('.modal-dialog').addClass('modal-lg');

    var table = $('#paperDataTable').DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        bRetrieve: true,
        bSort: false,
        sDom: "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
        sPaginationType: "bootstrap",
        order: [[1, 'asc']],
        columnDefs: [
            {orderable: false, targets: 0}
        ],
        oLanguage: {
            "sEmptyTable": "No Authors have been defined.",
            "sZeroRecords": "No Authors have been defined."
        }
    });

    $('.dataTables_empty').parent().addClass('datatable_empty_hover');

    table.MakeCellsEditable({
        onUpdate: myCallbackFunction,
        inputCss: 'form-control',
        columns: [1, 2, 3]
    });

    $('#addRow').on('click', function () {
        table.row.add([
            "<i class='fa fa-trash-o delete_icon pointer-cursor'></i>",
            '*** Author Name ***',
            '*** Affiliation ***',
            '*** Email Address ***'
        ]).draw();

        $('.delete_icon').unbind();
        $('.delete_icon').click(function () {
            table.row($(this).closest('tr')).remove().draw();
        });
    });

    $('#deleteRow').click(function () {
        table.row('.selected').remove().draw(false);
    });


    $('#abstract').autosize({placeholder: false});

    function myCallbackFunction(updatedCell, updatedRow, oldValue) {
        if (updatedCell.data().length == 0) {
            updatedCell.data($.trim(oldValue)).draw();
        }
    }

}

function initializePaperFileUploader(conferenceid) {
    var table = $('#paperDataTable').DataTable();

    var filesList = [],
        paramNames = [];

    $('#uploadButton').text("Upload");
    $('#progress').hide();
    $('#fileName').text("");

    $(document).bind('drop dragover', function (e) {
        e.preventDefault();
    });

    $('#closeButton').click(function () {
        $('#uploadButton').text("Upload");
        $('#progress').hide();
        $('#fileName').text("");
    });

    $('#new_paper').validate({
        rules: {
            'paper[title]': {
                required: true
            }
        }
    });

    $('input[name="fileData"]').fileupload({
        url: '/papers',
        dropZone: $('#drag-area'),
        type: 'POST',
        dataType: 'json',
        autoUpload: false,
        singleFileUploads: false,
        multipart: true,
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
        always: function (e, data) {
            var result = JSON.parse(JSON.stringify(data._response.result));
            $('#closeButton').click();
            $('#uploadButton').removeClass('disabled');
            $('.select-button').removeClass('disabled');

            if (result.status == 'internal_server_error') {
                showErrorMsg(result.message);
            } else {
                showNotificationMsg(result.message);
                $.pjax.reload('[data-pjax-container]');
            }

        },
        add: function (e, data) {
            for (var i = 0; i < data.files.length; i++) {
                $(this).data('file', data.files[i].name);
                filesList.push(data.files[i]);
                paramNames.push(e.delegatedEvent.target.name);
            }

            var file = $('#fileupload').data('file');

            if ($.trim(file).length > 0) {
                $('#uploadButton').removeClass('disabled');

                $('#uploadButton').unbind();
                $('#uploadButton').click(function (e) {

                    e.preventDefault();

                    if ($('#new_paper').valid()) {
                        $('#uploadButton').text("Uploading");
                        $('#progress').fadeIn('slow');
                        $('#uploadButton').addClass('disabled');
                        $('.select-button').addClass('disabled');
                        $('#closeButton').hide();
                        $('#cancelButton').show();

                        $('.file-upload').fileupload('send', {
                            files: filesList, paramName: paramNames, formData: {
                                json: JSON.stringify({
                                    "conference_id": conferenceid,
                                    "paper": {
                                        title: $('#paper_title').val(),
                                        author: table.columns(1).data().eq(0).join(';'),
                                        abstract: $('#paper_abstract').val(),
                                        year: $('#paper_year').val(),
                                        email: table.columns(3).data().eq(0).join(';'),
                                        affiliation: table.columns(2).data().eq(0).join(';')
                                    }
                                })
                            }
                        });
                    }
                });

            } else {
                $('#uploadButton').addClass('disabled');
            }

            return false;
        }
    });
}

function initializePapersView(is_organizer) {

    function format(td) {
        var child = '<table id="subDataTable" class="table paircon-table table-responsive dataTable">' +
            '<thead>' +
            '<tr role="row">' +
            '<th>Author Name</th>' +
            '<th>Affiliation</th>';

        if (is_organizer)
            child = child + '<th>Email Address</th>';

        child = child + '</tr>' +
            '</thead>' +
            '<tbody>';

        var author_information = JSON.parse(JSON.stringify(td.data('authorinfo')));

        for (var i = 0; i < author_information.length; i++) {
            child = child + '<tr role="row">' +
                '<td>' + author_information[i].author + '</td>' +
                '<td>' + author_information[i].affiliation + '</td>';

            if (is_organizer)
                child = child + '<td>' + author_information[i].email + '</td>';

            child = child + '</tr>';
        }

        child = child +
            '</tbody>' +
            '</table>';

        return child;
    }

    var table = $('#datatable-papers').DataTable({
        responsive: true,
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        sDom: "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
        sPaginationType: "bootstrap",
        oLanguage: {
            "sEmptyTable": "",
            "sZeroRecords": ""
        },
        order: [[1, 'asc']],
        columnDefs: [
            {targets: 2, render: $.fn.dataTable.render.ellipsis(250, true)},
            {targets: 'no-sort', orderable: false}
        ]
    });

    // Add event listener for opening and closing details
    $('#datatable-papers').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            row.child.remove().draw();
            tr.removeClass('shown');
        } else {
            // Open this row
            row.child(format(tr)).show();

            $('#subDataTable').DataTable({
                bFilter: false,
                bInfo: false,
                bPaginate: false,
                bRetrieve: true,
                bSort: false,
                sDom: "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                sPaginationType: "bootstrap",
                order: [[1, 'asc']],
                columnDefs: [
                    {orderable: false, targets: 0}
                ],
                oLanguage: {
                    "sEmptyTable": "No Authors have been defined.",
                    "sZeroRecords": "No Authors have been defined."
                }
            });

            $('#subDataTable_wrapper').closest('tr').addClass('datatable_empty_hover');

            $('.dataTables_empty').parent().addClass('datatable_empty_hover');

            tr.addClass('shown');
        }
    });

    removeEmptyRowsDataTable();
}