// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************
************************************
Form
************************************
***********************************/
.form-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.refresh_publication_disabled, .refresh_publication_disabled:hover {
  color: grey !important;
  opacity: 0.7;
}

.ui-pnotify-icon {
  margin-top: 5px;
  margin-right: 5px;
}