/***********************************
************************************
Header
************************************
***********************************/

.cover-photo {
  height: 250px;
  width: 100%;
  z-index: 10
}

.conference-logo {
  height: 200px;
  width: 200px;
  z-index: 100
}

.paircon-logo {
  background: image_url('Paircon_logo.png') no-repeat darkgrey;
  background-position: center;
}

/***********************************
************************************
Footer
************************************
***********************************/
.usage-graph {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.easypiechart {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
}

.easypiechart .percent {
  position: absolute;
  width: 100px;
  line-height: 100px;
  font-size: 24px;
  font-weight: 300;
  color: #808080;
}

.easypiechart .percent:after {
  content: '%';
}

.easypiechart + label {
  text-align: center;
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
}

/***********************************
************************************
Scheduler
************************************
***********************************/
.fc-cell-content {
  display: flex;
  align-items: center;
}

.timepicker-picker td.separator {
  border-top: none;
}

.timepicker-picker a.btn {
  box-shadow: none;
}

/***********************************
************************************
Invite Token Theme
************************************
***********************************/
$tag-bg-color: $btn-default-bg;
$tag-border-color: $btn-default-border;
$tag-font-color: $btn-default-color;

.token-input-emails2 {
  width: 100% !important;
}

ul.token-input-list-bootstrap {
  @extend .form-control;
  overflow: hidden;
  height: auto !important;
  border: 1px solid $input-border;
  cursor: text;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
}

ul.token-input-list-bootstrap li input {
  border: 0;
  width: 100%;
  padding: 3px 8px;
  background-color: white;
  margin: 2px 0;
}

li.token-input-token-bootstrap {
  overflow: hidden;
  height: auto !important;
  height: 15px;
  margin: 3px;
  padding: 1px 5px;
  background-color: $tag-bg-color;
  color: $tag-font-color;
  cursor: default;
  border: 1px solid $tag-border-color;
  font-size: 13px;
  border-radius: 3px;
  float: left;
  width: 100%;
  white-space: nowrap;
  .token-input-delete-token-bootstrap{
    color: $tag-font-color;
  }
}

li.token-input-token-bootstrap p {
  display: inline;
  padding: 0;
  margin: 0;
}

li.token-input-token-bootstrap span {
  color: #a6b3cf;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

li.token-input-selected-token-bootstrap {
  background-color: darken($tag-bg-color, 5%);
  border: 1px solid darken($tag-border-color, 5%);
}

li.token-input-input-token-bootstrap {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.token-input-dropdown-bootstrap {
  @extend .dropdown-menu;
}

div.token-input-dropdown-bootstrap p {
  margin: 0;
  padding: 5px;
  color: $gray-light;
}

div.token-input-dropdown-bootstrap ul {
  margin: 0;
  padding: 0;
}

div.token-input-dropdown-bootstrap ul li {
  list-style-type: none;
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: $line-height-base;
  color: $dropdown-link-color;
  white-space: nowrap;
}

div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item-bootstrap {
  background-color: white;
}

div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item2-bootstrap {
  background-color: white;
}

div.token-input-dropdown-bootstrap ul li em {
  font-weight: bold;
  font-style: normal;
}

div.token-input-dropdown-bootstrap ul li.token-input-selected-dropdown-item-bootstrap {
  color: $dropdown-link-hover-color;
  background-color: $dropdown-link-hover-bg;
  cursor: pointer;
}

/***********************************
************************************
Recommendation
************************************
***********************************/

.approve{
  color: darkgreen;
}
.deny{
  color: darkred;
}
//.modal-backdrop.in {
//  z-index: auto!important;
//}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/***********************************
************************************
Conference About
************************************
***********************************/

#conf-title{
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#conf-map{
  width: 100%;
  display: block;
}
#map-img {
  height: 165px;
  overflow: hidden;
}
