/***********************************
************************************
Header
************************************
***********************************/

.cover-photo {
  height: 250px;
  width: 100%;
  z-index: 10
}

.conference-logo {
  height: 200px;
  width: 200px;
  z-index: 100
}

.paircon-logo {
  background: image_url('Paircon_logo.png') no-repeat darkgrey;
  background-position: center;
}

/***********************************
************************************
Main-Panel
************************************
***********************************/




/***********************************
************************************
Footer
************************************
***********************************/