@import 'variables';

.border-left-blue {
  border-left: 1px solid $blue;
}

.paircon_notification_logo {
  width: 20px;
  margin-top: -5px;
}

#view-notifications {
  min-height: 200px;
  height: auto;
  max-height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notification-text {
  vertical-align: sub;
}

.notification-box {
  padding-left: 10px !important;
}

.full-notification {
  list-style-type: none;
  margin-top: 10px;
  background: transparent none repeat scroll 0% 0% !important;
  border: medium none !important;
  border-bottom: 1px solid lightgrey !important;

  .notification-box {
    border-left: none;
  }
}