@import 'variables';
@import 'mixins';

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: auto;
}

h2, .h2 {
  font-size: 32px !important;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.btn {
  -webkit-box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.08);
}

.btn-footer-social {
  color: $paircon-4 !important;
}

a:not(.btn), .btn-footer-social {

  &:hover {
    background-color: transparent !important;
    text-decoration: none;
  }
}

footer {
  padding: 10px !important;
}

.footer_fixed footer {
  height: 40px;
  position: inherit !important;
  overflow: hidden;
}

.display-flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.display-flex-column {
  @extend .display-flex;
  flex-flow: column;
}

.display-flex-row {
  @extend .display-flex;
  flex-flow: row;
}

.flex-y-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 0px !important;
}

.flex-autoresize-middle {
  @extend .flex-grow;
  flex: 1;
}

.main_container {
  @extend .display-flex-column;
}

.custom-flash-info {
  //position: fixed;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px !important;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  //transform: translate(-50%, 19px) !important;
  border: none !important;
  background-color: $color_mercury_approx !important;
  padding: 8px 10px !important;
}

.custom-flash-error {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px !important;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  //transform: translate(-50%, 19px) !important;
  border: none !important;
  color: $color_monza_approx !important;
  background-color: $color_your_pink_approx !important;
  padding: 8px 10px !important;
}

.text-center {
  text-align: center;
}

.dropzone {
  min-height: inherit !important;
}

.paircon-custom {
  color: $paircon-2;
}

.btn-paircon {
  @include button-variant(#fff, $paircon-2, $paircon-2);
}

.btn-paircon .btn-primary {
  &:hover {
    color: initial !important;
  }
}

.center-image {
  display: block;
  margin: auto;
}

.navbar-paircon {
  display: flex;
  margin-bottom: 2px !important;
  margin-top: 5px;
  min-height: 50px;
}

.navbar-image {
  height: 50px;
  margin: auto;
}

.navbar-right {
  width: initial !important;
}

.navbar-user {
  position: absolute;
  right: 0;
  margin-top: -5px !important;
}

.dropdown-user-icons {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.profile_info {
  padding: 10px 5px 10px !important;
}

.right_col {
  height: 100%;
  z-index: 1 !important;
}

label {
  font-weight: 500 !important;
}

/***********************************
************************************
Header
************************************
***********************************/
.header-button {
  min-height: 40px !important;
  box-shadow: none !important;
  border: none !important;
  @media screen and (min-width: $screen-sm-min) {
    padding: 12px 15px !important;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding: 12px 10px !important;
  }
  background: transparent !important;
  color: $users-navy-text-color !important;
  font-weight: 400 !important;
}

.header-button:hover {
  color: $users-navy-text-color !important;
}

.header-button:focus {
  background-color: transparent !important;
}

@media screen and (max-width: $screen-xs-max) {
  .header-font-small {
    font-size: 10px !important;
  }
}

@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
  .header-font-small {
    font-size: 14px !important;
  }
}

.sidebar-footer {
  color: $color_athens_gray_approx;
}

.dropdown-menu li a {
  padding: 12px 20px;
}

/***********************************
************************************
Misc
************************************
***********************************/
.form_toggle_button {
  &:hover {
    text-decoration: none;
    color: #262626 !important;
  }

  display: block;
  padding: 3px 17px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: $color_kashmir_blue_approx;
  white-space: nowrap;
  input {
    border: none;
    background: transparent;
    padding: 9px 2px;
  }

  i {
    margin-top: 10px;
  }
}

.static:after {
  content: '' !important;
}

.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
  border-width: 2px;
  border-left-color: $color_kashmir_blue_approx;
  border-right-color: transparent;
  border-top: transparent;
  background-color: #f3f3f3;
}

.tabs-left > li > a:hover {
  border-color: transparent;
  color: $color_kashmir_blue_approx;
  background-color: #f3f3f3 !important;
}

form textarea {
  width: 100%;
}

.dd-footer {
  border-top: 1px solid #e6e7e8;
  background: transparent !important;
}

/***********************************
************************************
DASHBOARD
************************************
***********************************/
.top-buffer {
  margin-top:20px;
}

/***********************************
************************************
Top Nav
************************************
***********************************/
#conf-searchbar{
  margin: auto;
}

/***********************************
************************************
Right Col
************************************
***********************************/


/*conference description*/

#conf-title{
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#conf-map{
  height: 100%;
  display: block;
}
#map-img {
  height: 200px;
  overflow: hidden;
}