@import 'variables';
@import 'mixins';

h2, .h2 {
  font-size: 32px !important;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.btn {
  -webkit-box-shadow: inset 0 0 0px 1px rgba(0,0,0,0.08);
  box-shadow: inset 0 0 0px 1px rgba(0,0,0,0.08);
}

.btn-footer-social {
  color: $paircon-4 !important;
}

a:not(.btn), .btn-footer-social {

  &:hover {
    background-color: transparent !important;
    text-decoration: none;
  }
}

footer {
  padding: 10px !important;
}

.footer_fixed footer {
  height: 40px;
  position: inherit !important;
  overflow: hidden;
}

.display-flex {
  display: flex ;
}

.flex-grow {
  flex-grow: 1;
}

.display-flex-column {
  @extend .display-flex;
  flex-flow: column;
}

.display-flex-row {
  @extend .display-flex;
  flex-flow: row;
}

.flex-y-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 0px !important;
}

.flex-autoresize-middle {
  @extend .flex-grow;
  flex: 1;
}

.main_container {
  height: 100vh;
  @extend .display-flex-column;
}

.custom-flash-info {
  //position: fixed;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px !important;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  //transform: translate(-50%, 19px) !important;
  border: none !important;
  background-color: $color_mercury_approx !important;
  padding: 8px 10px !important;
}
.custom-flash-error {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px !important;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  //transform: translate(-50%, 19px) !important;
  border: none !important;
  color: $color_monza_approx !important;
  background-color: $color_your_pink_approx !important;
  padding: 8px 10px !important;
}

.text-center {
  text-align: center;
}

.dropzone {
  min-height: inherit !important;
}

.paircon-custom {
  color: $paircon-2;
}

.btn-paircon {
  @include button-variant(#fff, $paircon-2, $paircon-3);
}

.btn-paircon .btn-primary{
  &:hover {
    color: initial !important;
  }
}

.center-image {
  display: block;
  margin: auto;
}

.navbar-paircon {
  display: flex;
  margin-bottom: 2px !important;
  margin-top: 5px;
  min-height: 50px;
}

.navbar-image {
  height: 50px;
  margin: auto;
}

.navbar-right {
  width: initial !important;
}

.navbar-user {
  position: absolute;
  right: 0;
  margin-top: -5px !important;
}

.dropdown-user-icons {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.profile_info {
  padding: 10px 5px 10px !important;
}

.right_col {
  z-index: 1 !important;
}

label {
  font-weight: 500 !important;
}