
<div class="x_panel">
  <div class="x_title">
    <h3>Conference Location</h3>
    <form>
      <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
    </form>
    <div class="map_canvas"></div>
  </div>
</div>

<script>
    $(function(){
        var options = {
            map: ".map_canvas",
            location: "NYC"
        };

        $("#geocomplete").geocomplete(options);
        
    });
</script>