<div class="x_panel">
  <div class="x_title">
    <h3>Papers
      <ul class="nav navbar-right panel_toolbox">
        <% if @is_organizer %>
            <li>
              <%= link_to_modal icon_text("plus"), new_paper_path(conference_id: @conference.id) %>
            </li>
        <% end %>
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>

    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table id="datatable-papers" class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Authors</th>
          <th>Affiliation</th>
          <th>Publication</th>
          <th>Keywords</th>
          <th>Link</th>
          <% if @is_organizer %>
              <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render @conference.papers %>
      </tbody>
    </table>
  </div>
</div>
<script>
    $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss')
    $('#datatable-papers').DataTable();
</script>
