<div class="x_panel">
  <div class="x_title">
    <h3>Posts
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>

    <div class="clearfix"></div>
  </div>Z
  <div class="x_content">
    <% if @post_count == 0 %>
        <div class="">
          <div style="width: 100%; text-align: center; font-style: italic;">
            <div><%= image_tag 'sad.png', style: 'opacity: 0.3; ' %></div>
            <br/>
            <div><%= @conference.get_name %> is yet to post any updates ...
            </div>
          </div>
        </div>
    <% else %>
        <div class="post_div">
          <!-- Populated via Ajax -->
        </div>

    <% end %>
  </div>
</div>
