<div class="x_panel top-buffer">
  <div class="x_title">
    <h3>Paircon Recommendations
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>

    <div class="clearfix"></div>
  </div>
  <div id="main-container" class="x_content">
  </div>
</div>

<%= javascript_tag "requestUserRecommendations('" + @conference.id + "','" + current_user.id + "')" %>
