<div class="x_panel top-buffer">
  <div class="x_title">
    <h3>Paircon Recommendations
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>

    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div id="recommendations-container" class="container">
      <% if !current_user.is_attending(@conference.id) %>
          <p> Please Press the Interested Button to Have Your Recommendations Generated</p>
      <% elsif current_user.papers.blank? %>
          <p>Please Add Academic Papers to Your Account For Recommendations to be Generated</p>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.is_attending(@conference.id) and !current_user.papers.blank? %>
    <%= javascript_tag "requestUserRecommendations('" + @conference.id + "','" + current_user.id + "')" %>
<% end %>
