<div id="about_panel" class="tab-pane active">
  <div class="col-md-12 col-sm-12 col-xs-12 top-buffer" data-step="19" data-intro="Your post will show here" data-position='top'>
    <%= render 'conferences/panels/about_full' %>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>

<script type="text/javascript">
    introJs().goToStepNumber(19).start();
</script>