<div id="about_panel" class="tab-pane active">
  <div class="col-md-12 col-sm-12 col-xs-12 top-buffer" data-step="19" data-tooltipClass='introHelper' data-intro="Here you can find information <br/> about the conference in greater detail" data-position='left'>
    <%= render 'conferences/panels/about_full' %>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>

<% if @is_organizer %>
  <%= javascript_tag "nextIntroJS('" + @conference.id.to_s + "', 19, 19, 'schedule', 'home')" %>
<% end %>