<div id="papers" class="tab-pane active">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= render 'conferences/panels/papers' %>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>

