<div id="posts" class="tab-pane active">
  <div class="col-md-10 col-sm-10 col-xs-10" >
    <div data-step="15" data-intro="Use this to post updates to people interested in your conference." data-position='top'>
      <% if @is_organizer %>
          <%= render 'posts/new' %>
      <% end %>
    </div>
    <div data-step="16" data-intro="This section shows all your posts." data-position='top'>
      <%= render 'conferences/panels/posts' %>
    </div>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>

<%= javascript_tag "nextIntroJS('" + @conference.id.to_s + "', 15, 'papers')" %>