<div id="posts" class="tab-pane active">
  <div class="col-md-10 col-sm-10 col-xs-10" >
    <div data-step="15" data-intro="Add a post" data-position='top'>
      <% if @is_organizer %>
          <%= render 'posts/new' %>
      <% end %>
    </div>
    <div data-step="16" data-intro="Your post will show here" data-position='top'>
      <%= render 'conferences/panels/posts' %>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 hidden-xs"></div>
</div>

<%= render 'conferences/footer', scheduler: false %>

<script>
    if (Cookies.set('first_conference') == 0) {
      introJs().setOption('doneLabel', 'Next page').goToStepNumber(15).start().oncomplete(function() {
        $("#papers").click();
      });
    };
</script>
