<div id="posts" class="tab-pane active">
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div data-step="15" data-tooltipClass='introHelper' data-intro="Use this to post updates to people <br/> interested in your conference." data-position='top'>
      <% if @is_organizer %>
          <%= render 'posts/new' %>
      <% end %>
    </div>
    <div>
      <%= render 'conferences/panels/posts' %>
    </div>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>

<% if @is_organizer %>
  <%= javascript_tag "nextIntroJS('" + @conference.id.to_s + "', 15, 15, 'home', 'recommendations')" %>
<% end %>