<div id="recommendation" class="tab-pane">
  <div class="col-md-12 col-sm-12 col-xs-12" data-step="16" data-tooltipClass='introHelper' data-intro="This will display recommendations on which papers <br /> and events you should look forward to attending!" data-position='top'>
    <%= render 'conferences/panels/recommendations_full' %>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>

<%= javascript_tag "nextIntroJS('" + @conference.id.to_s + "', 16, 16, 'posts', 'papers')" %>