<div id="schedule" class="tab-pane">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= render 'conferences/panels/recommendations' %>
  </div>
</div>

<%= render 'conferences/footer', scheduler: false %>