<div id="schedule" class="tab-pane">
  <div class="col-md-12 col-sm-12 col-xs-12" data-step="18" data-tooltipClass='introHelper' data-intro="This shows your schedule for <br/> conference and events." data-position='top'>
    <%= render 'conferences/panels/schedule' %>
  </div>
</div>

<%= render 'conferences/footer', scheduler: true %>

<%= javascript_tag "nextIntroJS('" + @conference.id.to_s + "', 18, 18, 'papers', 'about_panel')" %>