<section id="about" class="section-padding wow fadeInUp delay-05s">
  <div class = "container">
    <div class = "row text-center">
      <div class = "col-md-12 fa-5x">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
      </div>
      <div class="col-md-12">
        <h2 class="service-title pad-bt15">Conferences Made Easy</h2>
        <p class="sub-title pad-bt15">We take the organization, recommendation, and scheduling off your hands so you
          can focus on what matters—making the most out of your time at a conference. </p>
        <a href="#" class="btn btn-more">See How Conferences Improve #withPairCon</a>
      </div>
    </div>
  </div>
</section>