<section id="feature" class="section-padding wow fadeInUp delay-05s light-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="service-title pad-bt50"><strong>Attending</strong> a Conference?</h2>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="centered-icon navy-text"><i class="fa fa-magic fa-4x" aria-hidden="true"></i>
        </div>
        <div class="service-item">
          <h3>Automatic Profile Generation</h3>
          <p>Upload the URL of your personal academic website. We'll automatically collect your publication history.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="service-item">
          <div class="centered-icon navy-text"><i class="fa fa-address-card-o fa-4x" aria-hidden="true"></i>
          </div>
          <h3>Personalized Recommendation</h3>
          <p>Our machine learning algorithm computes the similarity between all of your publication collection and
            the papers presented at the conferences you sign up for. Based on this similarity and your past
            preferences, we generate a list of lectures that align with your interests. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="centered-icon navy-text"><i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        </div>
        <div class="service-item">
          <h3>Integrated Scheduler</h3>
          <p>Based on your personalized recommendations, we generate an optimized schedule for you to attend your
            top-recommended lectures and presentations. PairCon &copy; integrates with all major calendars so you can
            see your schedule in one place. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature2" class="section-padding wow fadeInDownn delay-05s navy-background">
  <div class="container">
    <div class="row text-center light-grey-text">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="service-title pad-bt50"><strong>Organizing</strong> a Conference?</h2>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="centered-icon light-grey-text"><i class="fa fa-users fa-4x" aria-hidden="true"></i>
        </div>
        <div class="service-item">
          <h3>Manage Followers</h3>
          <p class="light-grey-text">See who is following your conference and get a headcount on which lectures will be
            in high demand</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="centered-icon light-grey-text"><i class="fa fa-refresh fa-4x" aria-hidden="true"></i>
        </div>
        <div class="service-item">
          <h3>One-Click Conference Generation</h3>
          <p class="light-grey-text">Submit the URL of your conference page and we'll automatically collect the
            publications presented to
            compute personalized recommendations for followers. Want to upload the lecture schedule? We'll
            automatically integrate that into our optimized scheduler too. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="centered-icon light-grey-text"><i class="fa fa-info-circle fa-4x" aria-hidden="true"></i>
        </div>
        <div class="service-item">
          <h3>Centralized Information</h3>
          <p class="light-grey-text">Upload the conference schedule, website, map, contact info, and more to display on
            one centralized
            page. </p>
        </div>
      </div>
    </div>
  </div>
</section>