<footer id="footer" class="navy-background">
  <div class="container-fluid text-center">
    <div class="row light-grey-text footer-text">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <small>
          Copyright © 2017 Paircon. All rights reserved.
        </small>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <small>
          <%= link_to 'Privacy Policy', privacy_policy_home_index_url %>   |
          <%= link_to 'Terms of Use', terms_home_index_url %>
        </small>
      </div>
    </div>
  </div>
</footer>