<section id="landing" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="col-sm-12">
      <img id="macbook" src="<%= asset_path 'home/macbook.png' %>"/>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 class="text-center"><strong>Unbeatable</strong> Recommendations</h2>
      <h3 class="text-center">Saving time has never been so simple</h3>
    </div>
  </div>
</section>