<section id="signup_banner" class="dark-gray">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="signup-banner text-center">
        <strong>Pair</strong> your research interest with conferences on <strong>Paircon</strong>!
        &nbsp;<%= link_to 'Login', new_user_session_url, class: 'btn btn-success appear-animation bounceIn appear-animation-visible __web-inspector-hide-shortcut__', 'data-appear-animation': 'bounceIn' %>
        &nbsp;<%= link_to 'Sign Up', new_user_registration_url, class: 'btn btn-paircon appear-animation bounceIn appear-animation-visible __web-inspector-hide-shortcut__', 'data-appear-animation': 'bounceIn' %>
      </h1>
    </div>
  </div>
</section>