<section id="signup_banner" class="dark-gray">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3 class="signup-banner">
        <strong>Merge</strong> multiple cloud drives into one with <strong>CloudMerge</strong>!
      </h3>
    </div>
  </div>
</section>