<section id="signup_banner" class="dark-gray">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3 class="signup-banner text-center">
        <strong>Pair</strong> your research interest with conferences on <strong>PaiCon</strong>!
        <a href="#login" target="_blank" class="btn btn-success appear-animation bounceIn appear-animation-visible __web-inspector-hide-shortcut__" data-appear-animation="bounceIn">Sign in<br></a>
        <a href="#login" target="_blank" class="btn btn-primary appear-animation bounceIn appear-animation-visible __web-inspector-hide-shortcut__" data-appear-animation="bounceIn">Sign up</a>
      </h3>
    </div>
  </div>
</section>