<section id="statistics" class="section-padding wow fadeInUp delay-05s light-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="service-title pad-bt15"><strong>Conferences</strong> Made Easy</h2>
        <p class="sub-title pad-bt15">We take the <strong>organization</strong>, <strong>recommendation</strong>, and <strong>scheduling</strong> off your hands so you
          can focus on what matters—making the most out of your time at a conference.
        </p>
      </div>
    </div>
  </div>
  </div>
</section>
<section id="statistics2" class="section-padding wow fadeInUp delay-05s navy-background">
  <div class="container">
    <div class="row text-center light-grey-text ">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="statistics-font"><%= User.all.count %></h1>
        <h3><strong>Researchers</strong> At PairCon </h3>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="statistics-font"><%= Conference.all.count %></h1>
        <h3>Registered <strong>Conferences</strong></h3>
      </div>
    </div>
  </div>
</section>